<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Brand</title>
</head>
<body>
    <%- include('../nav') %>
    <form action="/brand/new" method="post">
        <label for="brand_name">Brand Name:</label>
        <input type="text" name="brand_name" id="brand_name" required>
        <label for="brand_desc">Brand Description (optional):</label>
        <input type="text" name="brand_desc" id="brand_desc">
        <button type="submit">Submit</button>
    </form>
</body>
</html>