<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
</head>
<body>
    <%- include('nav') %>
    <main>
        <h2>Categories Page</h2>
        <% for (const row of rows) { %>
            <div>
                <h3><%= row.cat_name %></h3>
                <p><%= row.cat_desc %></p>
                <p><%= row.cat_id %></p>
            </div>
        <% } %>
    </main>
</body>
</html>