<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invalid Data</title>
</head>
<body>
    <%- include('nav') %>
    <main>
        <h2>Invalid Data</h2>
        <% for (const msg of messages) { %>
            <p><%= msg %></p>
        <% } %>
        <p><a href=<%- link %>>Return</a></p>
    </main>
</body>
</html>